.price{
    padding: 58px 0 40px 0;
    &__items{
        margin-top: 16px;
    }
    &__item{
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 25px;
        
        &-header{
            height: 60px;
            width: 100%;
            background-color: #25333c;
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 60px;
            text-align: center; 
            vertical-align: middle;
        }
        &-img{
            display: block;
            margin: 0 auto;
            margin-top: 18px;
            height: 50px;
            width: 50px;
            img{
                height: 100%;
            }
        }
        &-title{
            font-size: 14px;
            color: rgb(46, 46, 46);
            text-transform: uppercase; 
            margin-top: 16px;
            text-align: center;
            margin-right: 24px;
            margin-left: 24px;
        }
        &-subtitle{
            font-size: 18px;
            color: $main-color;
            text-align: center;
            margin-right: 24px;
            margin-left: 24px;
        }
        &-descr{
            font-size: 14px;
            color: rgb(46, 46, 46);
            line-height: 1.429;
            text-align: center; 
            font-weight: 300;
            margin-top: 22px;
            margin-right: 24px;
            margin-left: 24px;
        }
        &-btn{
            display: block;
            margin: 0 auto;
            margin-top: 28px;

        }
    }
}